<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

Exercise 2: Create markdown cell with title of the notebook

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

Introduction: In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Python
- R
- SQL
- Git hub
- Jypter Notebook
- Google Colab

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. SQL
6. Java Script
7. Ruby

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. scipy
5. TensorFlow
6. Keras
7. Scikit-learn
8. ggplot
9. Plotly
10. Seaborn

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
--------------------
|Jypter Notebook|
|R Studio|
|Google Colab|
|Anaconda|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
# This will convert 200 minutes to hours by diving by 60
hours = 200//60
minutes = 200-(60*hours)
print(hours, 'hr', minutes, 'min')

3 hr 20 min

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Mohankrishna